html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Smythe', cursive;
}
header{
    background-image:
    linear-gradient(black, black),
    url(img/main_background.jpg);
    background-size: cover;
    background-blend-mode: saturation;
    height: 100vh;
    padding-top: 15px;
}

/* HEADER */
.main_nav{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.main_nav li{
    list-style: none;
}
.main_nav a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.main_nav a:hover{
    color: #cdc0a5;
    font-size: 21px;
    transition: 0.9s;
}
.titulo_container{
    width: fit-content;
    margin: 15% auto;
    display: flex;
    flex-direction: column;
    background-color: #000;
    opacity: .75;
}
.titulo_container h1{
    font-size: 100px;
    color: #cdc0a5;
    opacity: .80;
    padding: 15px 30px;
}
.titulo_container p{
    font-size: 25px;
    color: #cdc0a5;
    text-align: center;
    opacity: .85;
    padding-bottom: 30px;
}

/* SERVICIOS */
#sct-servicios{
    background-color: #cacaca;
}
.div_servicios{
    width: 95%;
    margin: auto;
    padding-top: 28px;
}
.div_servicios h2{
    color: #cdc0a5;
    font-size: 50px;
    text-align: center;
    background-color: #000;
    opacity: .75;
    padding: 15px 0;
}
.card_container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    margin: 30px 0;
    color: #fff;
    font-size: 20px;
    width: 225px;
    text-align: center;
    /* height: fit-content; */
}
.card:hover{
    cursor: pointer;
    transform: translateY(-15px);
    transition: 0.9s;
}
.card h3{
    background-color: #000;
    padding-top: 14px;
    padding-bottom: 7px;
    opacity: .90;
}
.card h4{
    background-color: #000;
    padding-bottom: 10px;
    opacity: .90;
}
.card img{
    width: inherit;
    height: 300px;
    object-fit: cover;
}

/* HORARIOS */
#sct-horarios{
    background-image: url(img/servicios_background2.jpg);
    background-size: cover;
    /* margin-top: 30px; */
    padding: 45px 0;
}
#sct-horarios h3{
    font-size: 50px;
    text-align: center;
    opacity: .75;
    padding: 30px;
    color: #cdc0a5;
    border: solid 3px #cdc0a5;
    width: fit-content;
    margin: auto;
}
#sct-horarios h4{
    font-size: 45px;
    text-align: center;
    opacity: .75;
    padding: 30px;
    color: #cdc0a5;
    width: fit-content;
    margin: auto;
}

/* SUCURSALES */
#sct-sucursales{
    background-color: #cacaca;
}
.div_sucursales{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
    margin: 0 20%;
    padding: 30px 0;
}
#sct-sucursales img{
    width: 300px;
    height: 335px;
}
.sucursales_menu{
    display: flex;
    justify-content: space-evenly;
    background-color: #000;
    opacity: .75;
}
.sucursales_menu h2, .sucursales_menu i{
    color: #cdc0a5;
    font-size: 50px;
    text-align: center;
    padding: 15px 0;

    /* Para evitar que seleccionen el texto */
    -webkit-user-select: none; 
}
.sucursales_menu h2:hover,
.sucursales_menu i:hover{
    color: #fff;
    transition: 0.9s;
    cursor: pointer;
    font-size: 51px;
}
.sucursales_detalles h2{
    font-size: 53px;
    text-align: center;
    opacity: .75;
    color: #cdc0a5;
    margin: auto;
    background-color: #000;
    padding: 10px 0;
}
.sucursales_detalles h3{
    font-size: 18px;
    text-align: left;
    color: #cdc0a5;
    margin: auto;
    background-color: #000;
    padding: 10px;
    padding-left: 15px;
    opacity: .75;
}
.sucursales_detalles h4{
    font-size: 18px;
    text-align: left;
    color: #cdc0a5;
    margin: auto;
    background-color: #000;
    padding: 10px 15px;
    opacity: .75;
}

/* EQUIPO */
    /* #1c1c1c */
    /* #f7f7f7 */
#sct-equipo{
    background-color: #1c1c1c;
}

/* NOSOTROS */
#sct-nosotros{
    background-color: #cacaca;
    padding: 30px 100px;
}
#sct-nosotros img{
    width: 455px;
}
.div_nosotros{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* CPMTACTO */
#sct-contacto{
    background-image: url(img/servicios_background2.jpg);
    background-size: cover;
    padding: 45px 0;
}
#sct-contacto h3{
    font-size: 50px;
    text-align: center;
    opacity: .75;
    padding: 20px 30px;
    color: #cdc0a5;
    border: solid 3px #cdc0a5;
    width: fit-content;
    margin: 15px auto;
}
.form{
    display: flex;
    flex-direction: column;
    width: 45%;
    text-align: center;
    margin: auto;
}
.form_superior{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.form_superior input{
    padding: 15px 5px;
    width: 46%;
    color: #cdc0a5;
    outline: none;
    border-color: #cdc0a5;
    background-color: transparent;
    font-size: 20px;
}
.form textarea{
    padding: 5px;
    color: #cdc0a5;
    outline: none;
    border-color: #cdc0a5;
    background-color: transparent;
    font-size: 20px;
    margin: 15px 0;
}
.form button{
    padding: 15px 0;
    color: #cdc0a5;
    outline: none;
    border-color: #cdc0a5;
    background-color: transparent;
    font-size: 20px;
    margin: 15px 0;
}
.form button:hover{
    background-color: #cdc0a5;
    color: #000;
    cursor: pointer;
    transition: 0.9s;
    font-weight: bolder;
    opacity: .75;
}
footer{
    font-size: 20px;
    background-color: #cacaca;
    text-align: center;
    padding: 15px 0;
}

/*
#sct-horarios h4{
    font-size: 45px;
    text-align: center;
    opacity: .75;
    padding: 30px;
    color: #cdc0a5;
    width: fit-content;
    margin: auto;
} */

/* ARROW UP */
#arrow-up{
    color: #000;
    font-size: 50px;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    right: 14px;
    /* display: none; */
}
#arrow-up:hover{
    cursor: pointer;
    transition: 0.9s;
    color: #cdc0a5;
}

/* EFECTO DE MAQUINA DE ESCRIBIR sólo con css */
/* #efecto-font{
    position: absolute;
    right: 33%;
    width: 0;
    border-left: 1px solid #000;
    animation: maquina 9s 3 steps(15);
    background-color: #000;
    margin: auto;
}

@keyframes maquina{
    from{
        width: 35%;
    }
    to{
        width: 0%;
    }
} */

/* CSS responsive */
/* .ocultar{
    display: none;
} */
#slt-responsive{
    display: none;
}

/* RESPONSIVE */
/* Small Devices */
@media only screen and (max-width: 375px){

    /* *{
        background-color: aqua;
    } */

    header{
        background-image:
        linear-gradient(black, black),
        url(img/main_background_responsive.jpg);
        background-size:cover;
        background-blend-mode: saturation;
        height: 100vh;
        padding-top: 15px;
    }

    /* HEADER */
    .main_nav{
        flex-wrap: wrap;
        /* text-align: center; */
        margin-top: 10px;
    }
    .main_nav li{
        margin: 10px 0;
    }
    .titulo_container{
        margin-top: 100px;
    }
    .titulo_container h1{
        font-size: 65px;
        padding: 15px;
    }
    .titulo_container p{
        font-size: 17px;
    }
    #sct-horarios h4{
        font-size: 29px;
    }
    #slt-responsive{
        display: block;
        color: #cdc0a5;
        font-size: 50px;
        padding: 15px;
        background-color: #000;
        outline: none;
        width: 100vw;
    }
    .sucursales_menu{
        display: none;
    }
    .div_sucursales{
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    #sct-sucursales img{
        display: none;
    }
    .sucursales_detalles h2{
        display: none;
    }

    /* NOSOTROS */
    #sct-nosotros{
        padding: 0;
    }
    #sct-nosotros img{
        display: none;
    }
    .div_nosotros{
        display: flex;
        flex-direction: column;
    }
    #detalles-responsive h3,
    #detalles-responsive h4{
        display: none;
    }
    #detalles-responsive h2{
        display: block;
        padding: 20px 0;
        font-size: 35px;
    }
    #detalles-responsive :nth-child(5){
        display: block;
        padding: 20px;
        font-size: 19px;
    }
    .form{
        width: 93%;
    }
    .form_superior input{
        width: 45%;
        font-size: 13px;
    }
    .form textarea,
    .form button{
        font-size: 13px;
    }
}

/* REGULAR PHONES */
@media only screen and (min-width: 376px) and (max-width: 766px){

    /* *{
        background-color:brown;
    } */
    header{
        background-image:
        linear-gradient(black, black),
        url(img/main_background_responsive.jpg);
        background-size:cover;
        background-blend-mode: saturation;
        height: 100vh;
        padding-top: 15px;
    }

    /* HEADER */
    .main_nav{
        flex-wrap: wrap;
        text-align: center;
        margin-top: 10px;
    }
    .main_nav li{
        margin: 10px 0;
    }
    .titulo_container{
        margin-top: 100px;
    }
    .titulo_container h1{
        font-size: 76px;
        padding: 15px;
    }
    .titulo_container p{
        font-size: 20px;
    }
    #sct-horarios h4{
        font-size: 29px;
    }
    #slt-responsive{
        display: block;
        color: #cdc0a5;
        font-size: 50px;
        padding: 15px;
        background-color: #000;
        outline: none;
        width: 100vw;
    }
    .sucursales_menu{
        display: none;
    }
    .div_sucursales{
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    #sct-sucursales img{
        display: none;
    }
    .sucursales_detalles h2{
        display: none;
    }

    /* NOSOTROS */
    #sct-nosotros{
        padding: 0;
    }
    #sct-nosotros img{
        display: none;
    }
    .div_nosotros{
        display: flex;
        flex-direction: column;
    }
    #detalles-responsive h3,
    #detalles-responsive h4{
        display: none;
    }
    #detalles-responsive h2{
        display: block;
        padding: 20px 0;
        font-size: 35px;
    }
    #detalles-responsive :nth-child(5){
        display: block;
        padding: 20px;
        font-size: 19px;
    }
    .form{
        width: 85%;
    }
    .form_superior input{
        width: 45%;
        font-size: 13px;
    }
    .form textarea,
    .form button{
        font-size: 13px;
    }
}

/* Tablets */
@media only screen and (min-width: 767px) and (max-width: 1024px){

    /* *{
        background-color:black;
    } */
    header{
        background-image:
        linear-gradient(black, black),
        url(img/main_background_responsive.jpg);
        background-size:cover;
        background-blend-mode: saturation;
        height: 100vh;
        padding-top: 15px;
    }

    /* HEADER */
    .main_nav{
        flex-wrap: wrap;
        text-align: center;
        margin-top: 30px;
    }
    .main_nav li{
        margin: 10px 0;
    }
    .titulo_container{
        margin-top: 200px;
    }
    .titulo_container h1{
        font-size: 155px;
        padding: 15px;
    }
    .titulo_container p{
        font-size: 40px;
    }
    #sct-horarios h4{
        font-size: 29px;
    }
    #slt-responsive{
        display: block;
        color: #cdc0a5;
        font-size: 50px;
        padding: 15px;
        background-color: #000;
        outline: none;
        width: 100vw;
    }
    .sucursales_menu{
        display: none;
    }
    .div_sucursales{
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    #sct-sucursales img{
        display: none;
    }
    .sucursales_detalles h2{
        display: none;
    }

    /* NOSOTROS */
    #sct-nosotros{
        padding: 0;
    }
    #sct-nosotros img{
        display: none;
    }
    .div_nosotros{
        display: flex;
        flex-direction: column;
    }
    #detalles-responsive h3,
    #detalles-responsive h4{
        font-size: 20px;
        text-align: justify;
        padding: 10px 30px;
    }
    #detalles-responsive h2{
        display: block;
        padding: 20px 0;
        font-size: 35px;
    }
    #detalles-responsive :last-child{
        padding-bottom: 15px;
    }
    /* #detalles-responsive :nth-child(5){
        display: block;
        padding: 20px;
        font-size: 19px;
    } */
    .form{
        width: 85%;
    }
    .form_superior input{
        width: 45%;
        font-size: 13px;
    }
    .form textarea,
    .form button{
        font-size: 13px;
    }
}

/* ULTRA PEQUEÑO RESPONSIVE
@media only screen and (max-width: 386px) {

    header{
        height: 75vh;
    }

    //HEADER
    .main_nav{
        flex-wrap: wrap;
        text-align: center;
        margin-top: 10px;
    }
    .main_nav a{
        font-size: 17px;
    }
    .main_nav li{
        margin: 10px 0;
    }
    .titulo_container{
        margin-top: 90px;
    }
    .titulo_container h1{
        font-size: 36px;
        padding: 15px;
    }
    .titulo_container p{
        font-size: 9px;
    }
    #sct-horarios h3{
        font-size: 30px;
    }
    #sct-horarios h4{
        font-size: 24px;
    }
    #slt-responsive{
        display: block;
        color: #cdc0a5;
        font-size: 50px;
        padding: 15px;
        background-color: #000;
        outline: none;
        width: 100vw;
    }
    .sucursales_menu{
        display: none;
    }
    .div_sucursales{
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    #sct-sucursales img{
        display: none;
    }
    .sucursales_detalles h2{
        display: none;
    }
    .sucursales_detalles h3{
        text-align: left;
        padding-left: 15px;
    }
    .div_servicios{
        width: 90%;
    }

    //NOSOTROS
    #sct-nosotros{
        padding: 0;
    }
    #sct-nosotros img{
        display: none;
    }
    .div_nosotros{
        display: flex;
        flex-direction: column;
    }
    #detalles-responsive h3,
    #detalles-responsive h4{
        display: none;
    }
    #detalles-responsive h2{
        display: block;
        padding: 20px 0;
        font-size: 30px;
    }
    #detalles-responsive :nth-child(5){
        display: block;
        padding: 20px;
        font-size: 19px;
    }
    .form{
        width: 93%;
    }
    .form_superior input{
        width: 45%;
        font-size: 13px;
    }
    .form textarea,
    .form button{
        font-size: 13px;
    }
    #sct-contacto h3 {
        font-size: 30px;
    }
} */